<section
  class="min-h-[calc(100vh-72px-200px)] pt-4 flex flex-col items-center justify-center bg-gradient-to-br from-[#1a1f3a] via-[#20264e] to-[#1a1f3a]"
>
  <ng-lottie [options]="lottieOptions" width="400px" height="400px" class="mx-auto"></ng-lottie>

  <h1 class="mt-6 text-3xl font-bold text-white text-center">Oups ! Page non trouvée</h1>
  <p class="mt-2 text-white/70 text-center">La page que vous recherchez n'existe pas.</p>

  <a
    routerLink="/"
    class="mt-6 mb-5 cursor-pointer inline-block px-6 py-3 bg-gradient-to-r from-[#25509d] via-[#3d6bb5] to-[#99cfbd] text-white font-bold rounded-xl shadow-lg hover:scale-105 transition-all"
  >
    Retour à l'accueil
  </a>
</section>
